.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content-default {
  width: 80vw;
  max-width: 1300px;
  min-height: min-content;
  background-color: var(--White, #fff);
  border-radius: 10px;
  padding: 16px;
  animation: fade 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-body {
  max-height: 40dvh;
  overflow: auto;
  scroll-behavior: smooth;
  padding-right: 1rem;
}

.modal-body::-webkit-scrollbar {
  width: 10px;
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  background-color: var(--bx-color-grey-me);
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.modal-body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
